.wrapper {
    --primary-btn: rgb(254, 44, 85);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 9px 16px;
    min-width: 100px;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 1.6rem;
    text-align: center;
    border-radius: 4px;
    border: 1px solid #ccc;
    background-color: white;
    cursor: pointer;
    user-select: none;

    + .wrapper {
        margin-left: 16px;
    }

    &.disabled {
        opacity: 0.5;
        pointer-events: none;

        &:hover {
            text-decoration: none;
        }
    }
}

// Button types
.rounded {
    border-radius: 70px;
    padding: 8px;
    box-shadow: 0 2px 8px rgb(0 0 0 / 6%);
    border: 1px solid rgba(22, 24, 35, 0.12);

    &:hover {
        border-color: rgba(22, 24, 35, 0.2);
        background-color: rgba(22, 24, 35, 0.03);
    }
}

.primary {
    background-color: var(--primary-btn);
    color: var(--white);
    border-color: var(--primary);

    &:hover {
        border-color: var(--primary);
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.06)), rgb(254, 44, 85);
    }
}

.outline {
    color: var(--primary);
    border-color: var(--primary);

    &:hover {
        border-color: var(--primary);
        background-color: rgba(254, 44, 85, 0.06);
    }
}

.text {
    &:hover {
        text-decoration: underline;
        background-color: rgba(22, 24, 35, 0.03);
    }
}

// Button sizes
.small {
    min-width: 88px;
    padding: 4px 16px;
}

.large {
    min-width: 170px;
    padding: 14px 16px;
    color: var(--primary);

    &:hover {
        background-color: rgba(254, 44, 85, 0.06);
    }
}

// button icons
.icon {
    width: 20px;
    height: 20px;
}

.icon + .title,
.title + .icon {
    margin-left: 8px;
}
