.wrapper {
    --default-with-content-post-video: 544px;
    width: 100%;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.content {
    width: var(--default-with-content-post-video);
    border-left: 1px solid #ccc;
    padding-top: 20px;
    position: relative;
    background-color: white;
}

.content_header {
    display: flex;
    flex-direction: column;
}

//info video
.info_video {
    background: rgba(22, 24, 35, 0.03);
    border-radius: 12px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 16px;
}
.heading {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;

    .avatar_user_post {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        object-fit: contain;
    }

    .user_post {
        width: 60%;

        .user_name {
            font-size: 1.6rem;
            font-family: var(--font-family);
            font-weight: 700;
            &:hover {
                text-decoration: underline;
                cursor: pointer;
            }
        }
        .nick_name {
            font-size: 1.4rem;
            font-family: var(--font-family);
            font-weight: 600;
            cursor: pointer;
        }
        .time_post {
            font-size: 1.4rem;
            font-family: var(--font-family);
            font-weight: 200;
            margin-left: 10px;
        }
    }
}

.des_video {
    font-size: 1.6rem;
    font-family: var(--font-family);
}

.music_link > .link {
    display: inline-block;
    margin-top: 5px;
    font-size: 1.4rem;
    font-family: var(--font-family);
    margin-left: 5px;
}

.btn_follow {
    min-width: 96px;
    padding: 1px 15px;
}

// button actions
.btn_action_post {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    & > .wrapper > .text {
        margin-bottom: 0;
        font-size: 1.3rem;
        font-family: var(--font-family);
        display: flex;
    }
}

.btn_item {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgba(22, 24, 35, 0.03);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.btn_option_other {
    display: flex;
    width: 50%;
    justify-content: flex-end;
    gap: 10px;

    .btn_option_item {
        background: none;
        cursor: pointer;
    }
}
.text {
    font-size: 1.3rem;
    font-family: var(--font-family);
}

.copy_link {
    display: flex;
    margin: 8px 20px;
    border: 1px solid rgba(22, 24, 35, 0.12);
    border-radius: 8px;
    color: rgba(22, 24, 35, 0.75);

    .text_link {
        width: 80%;
        padding: 11px 12px;
        background-color: rgba(22, 24, 35, 0.06);
        white-space: nowrap;
        overflow: hidden;
        font-family: var(--font-family);
        font-size: 1.4rem;
        text-overflow: ellipsis;
    }
    .btn_copy {
        flex: 1;
        padding: 12px 12px;
        font-weight: 700;
        font-family: var(--font-family);
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
        cursor: pointer;

        &:hover {
            background-color: rgba(22, 24, 35, 0.03);
        }
    }
}

// content-body
.content_body {
    width: 100%;
}
.menu {
    padding-top: 18px;
    height: 50px;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #ccc;
}
.menu_item {
    list-style: none;
    display: inline-block;
    width: 40%;
    height: 100%;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 700;
    font-family: var(--font-family);
    cursor: pointer;
}

.menu_item:first-child {
    border-bottom: 2px solid black;
}

.comments {
    padding: 24px 24px 250px 24px;
    overflow-y: scroll;
    scroll-behavior: smooth;
    max-height: 500px;
}

.single_video {
    flex: 1;
    background-color: rgb(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.btn_option_video {
    position: absolute;
    right: 10px;
    transform: translate(0, -50%);
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.btn_next,
.btn_prev,
.btn_close {
    background: rgba(84, 84, 84, 0.5);
    width: 45px;
    height: 45px;
    border-radius: 50%;
    text-align: center;
    line-height: 12px;
    cursor: pointer;

    &:hover {
        background: rgba(37, 37, 37, 0.6);
        opacity: 0.7;
    }
}

.btn_close {
    position: absolute;
    top: 15px;
    left: 10px;
}

.btn_prev {
    transform: rotate(-90deg);
}

.btn_next {
    transform: rotate(90deg);
}

.btn_pause_video {
    position: absolute;
    transform: translate(0, -50%);
    background: none;
    cursor: pointer;
}

// size video
.medium {
    width: 100%;
    height: 100%;
    max-width: 100%;
    padding-top: 80px;
}

.small {
    width: 100%;
    height: 100%;
    max-width: 100%;
}

.isSingleVideo {
    border-radius: 0;
}

// post_comment
.post_comment {
    position: absolute;
    bottom: 0;
    width: 100%;
    right: 0;
    border-top: 1px solid #ccc;
    z-index: 10;
    background-color: white;
}
