.group-btn {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    margin-left: 20px;
}

.btn-action-video {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
    background-color: rgba(22, 24, 35, 0.06);

    &.favorite {
        color: var(--primary);
        animation: EffectFavorite 0.7s ease-in;
    }

    &.like {
        color: #face15;
        position: relative;
    }

    &.like::before {
        content: '';
        width: 3.2rem;
        height: 3.2rem;
        border-radius: 50%;
        border: 1px solid #face15;
        position: absolute;
        z-index: -1;
        transition: all 0.2s ease-in-out;
        animation: EffectLike 0.2s ease-in-out;
    }
}

@keyframes EffectLike {
    0% {
        transform: scale(0.5);
    }
    50% {
        transform: scale(0.7);
    }
    70% {
        transform: scale(0.8);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes EffectFavorite {
    0% {
        transform: scale(1.4);
        border: 1px solid yellow;
    }
    50% {
        transform: scale(0.7);
        border: 1px solid yellow;
    }
    70% {
        transform: scale(0.8);
        border: 1px solid yellow;
    }
    100% {
        transform: scale(1);
        border: 1px solid yellow;
    }
}

.text {
    display: block;
    margin-top: 4px;
    margin-bottom: 15px;

    &.last {
        margin-bottom: 0;
    }
}

// ==== Tippy Result ===

.more-action-share {
    width: 100%;
    max-height: 480px;
    font-weight: 600;
    font-family: var(--font-family);
    background-color: white;
    z-index: 5;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 4px 16px;
    border-radius: 8px;
}

.action-item {
    display: flex;
    align-items: center;
    padding: 11px 16px;
    border-radius: 8px;

    &:hover {
        background-color: rgba(22, 24, 35, 0.06);
        cursor: pointer;
    }

    .title {
        font-size: 1.6rem;
        display: inline-block;
        padding-left: 10px;
    }
}
