.wrapper {
    width: var(--default-layout-sidebar-width);
    margin-left: -10px;
    position: fixed;
    bottom: 0;
    top: var(--default-layout-header-height);
    overflow: hidden;

    &:hover {
        overflow-y: scroll;
        overflow-x: visible;
        overscroll-behavior-y: contain;
    }
}
